{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YT Mp3 Conversor</title>
    <link rel="stylesheet" href="{% static 'css/conversor.css' %}">
</head>
<body>
    <div class="container">
        <h1>YT MP3 Conversor</h1>
        <form action="">
            <div class="inputs-labels">
                <label for="conversor">Digite ou cole a sua url:</label>
                <input type="text" id="conversor" name="conversor" placeholder="Url" required>
            </div>
            <button type="submit" class="converter-btn">Converter para MP3</button>
        </form>
        <div class="progress-bar">
            <div class="bar"></div>
            <span>100%</span>
        </div>
        <span class="music-info">Título: NF - Home(Aúdio)</span>
        <a href="" class="download-btn" download>Download</a>
    </div>
</body>
<script>"{% static 'js/conversor.js' %}"</script>
</html>