* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1a1a1a;
    font-size: 1.6rem;
    color: rgb(233, 233, 233);
    line-height: 1.4;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    gap: 2rem;
    padding: 2rem;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    margin: 0 auto;
    background-color: #242424;
    box-shadow: inset 0px 2px 2px 2px rgba(0, 0, 0, 0.40);
    border-radius: 2rem;
}

.inputs-labels {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
    margin: 0 auto;
}

input {
    padding: 0.5rem;
    background-color: transparent;
    border-radius: 1rem;
    border: solid 1px whitesmoke;
    color: whitesmoke;
    caret-color: whitesmoke;
}

.converter-btn {
    padding: 0.5rem;
    color: whitesmoke;
    background-color: rgb(248, 59, 59);
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.50);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.converter-btn:hover {
    background-color: rgb(247, 46, 46);
}

.progress-bar {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    padding: 0.5rem;
}

.bar {
    width: 20rem;
    height: 1rem;
    background-color: rgb(247, 46, 46);
    border-radius: 2rem;
    margin-top: 0.3rem;
}

.download-btn {
    color: cadetblue;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.download-btn:hover {
    color: rgb(117, 211, 214);
}
